<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">

    <title>Обновить информацию о карте</title>
</head>

<body>
<div class="container">
    <hr>

    <p th:text="${card.type} ? 'Обновить информацию о карте' : 'Добавить карту' "class="h4 mb-4"></p>

    <form action="#" th:action="@{/card/save}" th:object="${card}"
          method="POST">

        <input type="hidden" th:field="*{id}">

        <input type="text" th:field="*{type}" class="form-control mb-4 col-4"
               placeholder="Тип" required>

        <button type="submit" class="btn btn-warning col-2">Сохранить</button>
    </form>
    <hr>
    <a th:href="@{/card/list}">К списку карт</a>
</div>
</body>

</html>