<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">

    <title>Список карт</title>
</head>
<body>
<div class="container">

    <h3>Карты</h3>
    <hr>
    <a th:href="@{/card/add}"
       class="btn btn-primary btn-sm mb-3"> Добавить карту </a>
    <br/>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Тип карты</th>
            <th>Действия</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempCard : ${card}">

            <td th:text="${tempCard.id}" />
            <td th:text="${tempCard.type}" />
            
            <td>
                <a th:href="@{/card/update (id=${tempCard.id})}"
                    class="btn btn-info btn-sm">Обновить</a>
                <a th:href="@{/card/delete (id=${tempCard.id})}"
                   class="btn btn-warning btn-sm"
                   onclick="if (!(confirm('Удалить?'))) return false">Удалить</a>
            </td>

        </tr>

        </tbody>
    </table>

   
    <a th:href="@{/}">В главное меню</a>


</div>
</body>
</html>